






 @media (max-width: 410px) {
    
    .cdw {
      
        margin-left: -32px;
    }
    .wd h2 {
        font-size: 25px;
    }
    .cdr {
        width: 102px;
        margin-left: -57px;
        margin-top: -9px;
        margin-right: 90px;
        margin-bottom: 7px;
    }
    .cde {
        margin-left: -192px;
        width: 152px;
        margin-bottom: 11px;
        margin-top: 33px;
        margin-right: 59px;
    }
    .cdr12 {
        margin-left: 163px;
        width: 156px;
        margin-bottom: 11px;
        margin-top: -52px;
    }
    .cdr1 {
        margin-left: 30px;
        width: 187px;
        margin-bottom: 18px;
    }
    .cdr11 {
        margin-left: -56px;
        width: 297px;
        margin-bottom: 11px;
    }
    .btns {
        margin-left: 48px;
        margin-top: -31px;
    }
} 
@media (max-width: 768px) and (min-width: 400px){
    
    .cdw {
       
        margin-left: -32px;
    }
    .wd h2 {
        font-size: 25px;
    }
    .cdr {
        width: 102px;
        margin-left: 32px;
        margin-top: -14px;
        margin-right: -36px;
    }
    .cde {
        margin-left: -66px;
        width: 175px;
        margin-bottom: 11px;
        margin-top: 33px;
        margin-right: 59px;
    }
    .cdr12 {
        margin-left: -74px;
        width: 175px;
        margin-bottom: 11px;
        margin-top: 34px;
    }
    .cdr1 {
        margin-left: 208px;
        width: 187px;
        margin-top: 7px;
        margin-right: 155px;
    }
    .cdr11 {
        margin-left: -96px;
        width: 297px;
        margin-bottom: 2px;
        margin-top: 2px;
        /* margin-right: 245px; */
    }
    .btns {
        margin-left: 48px;
        margin-top: -31px;
    }
}